$primary: #333;

$gray: #ccc;
$grayLight: #ddd;
$grayLighter: #eee;
$almostWhite: #fafafa;

$menuBackgroundColor: $grayLighter;
$menuItemColor: $primary;
$menuItemBackgroundColor: white;
$menuItemBackgroundColorHover: $almostWhite;