$primary: #0187AA;
$secondary: #026759;

$gray: #ccc;
$grayLight: #ddd;
$grayLighter: #eee;
$almostWhite: #fafafa;

$menuBackgroundColor: $grayLighter;
$menuItemColor: $primary;
$menuItemBackgroundColor: white;
$menuItemBackgroundColorHover: $almostWhite;

$footerBackgroundColor: $secondary;
$footerColor: $almostWhite;