@import '../../styles/colors.scss';

.menu {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 5px 0;
    background: $menuBackgroundColor;
}
.menuItem {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    border: 1px solid $primary;
    border-radius: 5px;
    padding: 5px 10px;
    color: $primary;
    background-color: $menuItemBackgroundColor;
    transition: .2s all;
}
.menuItem:hover {
    background: $menuItemBackgroundColorHover;
}
.menuItem:active {
    transform: scale(1.05);
}

.content {
    margin: auto;
    max-width: 80%;
}

.footer {
    padding-left: 15px;
    padding-top: 30px;
    padding-bottom: 30px;
    background: $footerBackgroundColor;
}
.footerLink {
    color: $footerColor;
}